<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>notre page</title>
    </head>
    <body background="static\entreprise.jpg">

        <header>
            
    
            <h1 align="center">La collection "GG__compagnie"</h1>
        
            
        </header>

        <nav align="center">
            <ul>
                <li><a href="#COMPLETS"><strong>Nos complets</strong></a></li>
                <li><a href="#CHAUSSURES"><strong>Nos chaussures</strong></a></li>
                <li><a href="#Divers"><strong>Les divers accessoires</strong></a></li>
            </ul>
        </nav>
        <main>
            <section id="COMPLETS">
                <h2 align="center">les  populaires</h2>
                <ul align="center">
                    <li>
                        <img src="{{url_for('static', filename='photo_2023-02-10_10-11-40.jpg')}}"  >

                        
                    </li>
                    <li>
                        
                        <img src="{{url_for('static', filename='photo_2023-02-10_10-11-17.jpg')}}" 
                        
                        
                    </li>
                    <li>
                        
                        <img src="{{url_for('static', filename='photo_2023-02-10_10-12-05.jpg')}}" 

                     
                        
                    </li>

                    <li>
                        <img src="{{url_for('static', filename='photo_2023-02-10_10-11-58.jpg')}}" 

                        
                        
                    </li>
                    <li>
                        
                        <img src="{{url_for('static', filename='photo_2023-02-10_10-11-52.jpg')}}" 

                        
                    </li>
                    <li>
                       
                        <img src="{{url_for('static', filename='photo_2023-02-10_10-11-48.jpg')}}" 

                        
                    </li>
                    <li>
                       
                        <img src="{{url_for('static', filename='photo_2023-02-10_10-11-35.jpg')}}" 

                        
                    </li>
                    <li>
                        
                        
                        <img src="{{url_for('static', filename='photo_2023-02-10_10-11-17.jpg')}}" 

                    </li>
                   
                </ul>
            </section>


            <section id="CHAUSSURES">
                <ul align="left">
                    <li>
                        
                        <img src="{{url_for('static', filename='photo10.jpg')}}" 

                    </li>
                    <li>
                        
                        <img src="{{url_for('static', filename='photo_1.jpg')}}" 

                    </li>
                    <li>
                        
                        <img src="{{url_for('static', filename='photo_2.jpg')}}" 

    
                    </li>

                    <li>
                    
                        <img src="{{url_for('static', filename='photo_3.jpg')}}" 

    
                    </li>

                    <li>
                        
                        <img src="{{url_for('static', filename='photo_4.jpg')}}" 

    
                    </li>

                    <li>
                        <img src="{{url_for('static', filename='photo_5.jpg')}}" 

    
                    </li>

                    <li>
                        <img src="{{url_for('static', filename='photo_6.jpg')}}" 

    
                    </li>

                    <li>
                        <img src="{{url_for('static', filename='photo_7.jpg')}}" 

    
                    </li>


                        <img src="{{url_for('static', filename='photo_8.jpg')}}" 

                       
                    </li>
                        <img src="{{url_for('static', filename='photo_9.jpg')}}" 

                    </li>
                        <img src="{{url_for('static', filename='photo_2023-02-10_10-01-43.jpg')}}" 

                    </li>
                    <li>
                        <img src="{{url_for('static', filename='photo_2023-02-10_10-02-11.jpg')}}" 

                    </li>
                </ul>
            </section>
            <section id="Divers">
                <h2>Mixage populaires</h2>
                <ul align="right">
                    <li>
                        <img src="{{url_for('static', filename='photo_2023-02-10_10-22-45.jpg')}}" 

                    </li>
                    <li>
                        <img src="{{url_for('static', filename='photo_2023-02-10_10-22-51.jpg')}}" 

                        </li>

                        <li>
                            <img src="{{url_for('static', filename='photo_2023-02-10_10-22-30.jpg')}}" 

                        </li>
                        <li>
                            <img src="{{url_for('static', filename='photo_2023-02-10_10-22-23.jpg')}}" 
                        </li>
                       
                        <li>
                            <img src="{{url_for('static', filename='photo_2023-02-10_10-22-16.jpg')}}" 

                        </li>
                        

                        <li>
                            <img src="{{url_for('static', filename='photo_2023-02-10_10-21-50.jpg')}}" 
                        </li>
                        
                        <li>
                            <img src="{{url_for('static', filename='photo_2023-02-10_10-21-46.jpg')}}" 
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='photo_2023-02-10_10-21-41.jpg')}}" 
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='photo_2023-02-10_10-21-34.jpg')}}" 
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='photo_2023-02-10_10-21-28.jpg')}}" 
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='photo_2023-02-10_10-21-21.jpg')}}" 
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='photo_2023-02-10_10-20-52.jpg')}}" 
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='photo_2023-02-10_10-17-23.jpg')}}" 
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='photo_2023-02-10_10-17-23 (3).jpg')}}" 
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='photo_2023-02-10_10-17-23 (2).jpg')}}" 
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='photo_2023-02-10_10-17-22.jpg')}}" 
                        </li>

                        <li><img src="{{url_for('static', filename='photo_2023-02-10_10-17-22 (4).jpg')}}" 
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='photo_2023-02-10_10-17-22 (3).jpg')}}" 
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='photo_2023-02-10_10-17-22 (2).jpg')}}" 
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='photo_2023-02-10_10-17-20.jpg')}}" 
                        </li>
                        <li>
                            <img src="{{url_for('static', filename='photo_2023-02-10_10-17-20 (2).jpg')}}" 
                        </li>
                
                    </ul>
                </section>
            </main>
            <footer align="center">
                <p color="green">&copy; GG__compagnie</p>
            </footer>

        </body>
    </html>