{% extends "base.html" %} {% block title%}HOME{% endblock%}
 
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href='/accueil'>Accueil</a>
          </li>
        </ul>  
      </div>
    </div>
  </nav>


<p align="center">
    Bienvenue, nous vous attendions <strong>{{ user.nom }} {{ user.prenom}} alias {{user.username}}</strong> 
    cliquez sur "Accueil" ci-dessus pour voir nos articles.
</p>





{% endblock %}